.transactions td, .transactions th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 15px 20px;
  width: 100px;
}
.transactions {
  border-spacing: 0;
  text-align: left;
  border: 1px solid #ccc;
}
tr:not(:first-child) {
  background: red;
}
tr.green {
  background: green;
}